/**
 * Basic theme styles.
 */

*
	box-sizing: border-box

body
	@extend %grid-container

	> header
		@extend %grid-100
		padding: 20px
		background-color: gray

section
	@extend %grid-60
	padding: 20px
	background-color: yellow

aside
	@extend %grid-40
	padding: 20px

footer
	@extend %grid-100
	padding: 20px
	background-color: green
